{% extends 'base.html' %}

{% block header %}
<h1 class="text-center mt-3 mb-3">
    Here are the search results!
</h1>
{% endblock %}

{% block content %}
<!--Select form-->
{% if selection_limit() %}
<div class="container row mb-3">
    <form method="post" class="container row" action="{{ url_for('controller.index') }}">
        {% include "select_form.html" %}
    </form>
</div>
{% endif %}
<!--Book cover-->
{% include 'book_cover.html' %}
<!-- JS to select book cover art based on option selected -->
<script src="{{url_for('static', filename='select2.js')}}"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
