{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
<a class="action" href="{{ url_for('recommendation.create') }}">Create</a>
{% endblock %}

{% block content %}
<form method="post">

    <select name="book-choice">
        {% for book in books %}
        <option value="{{ book['title'] }}">{{ book['title'] }}</option>
        {% endfor %}
    </select>
    <select min="1" max="5" value="3" name="book-rating" required>
        {% for num in range(1,6) %}
        <option value="{{ num }}">{{ num }}</option>
        {% endfor %}
    </select>
    {% if length < 5 %}
    <input name="select-form" type="submit" value="Select">
    {% else %}
    <input name="select-form" type="submit" value="Select" disabled>
    {% endif %}

</form>

{% if current_list %}
<div class="container">
    <table>
        <thead>
        <th>Book Selected</th>
        <th>Rating given</th>
        </thead>
        <tbody>
        {% for book, rating in current_list.items() %}
        <tr>
            <td>{{ book }}</td>
            <td>{{ rating }}</td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if length >= 5 %}
<div>
    <form method="post">
        <input name="process-form" type="submit" value="Recommend me books!">
    </form>
</div>
{% endif %}

{% endblock %}