{% extends 'base.html' %}

{% block header %}
<h1 class="text-center mt-3 mb-3">
    {% block title %}
    {% if length < 5 %}
    Select 5 books and ratings to get started
    {% else %}
    Selection complete! Please review
    {% endif %}
    {% endblock %}
</h1>
{% endblock %}

<!--Select form -->
{% block content %}
{% if length < 5 %}
<div class="container row my-4">
    <form method="post" class="container row">
        <div class="container col-8">
            <select id="book-choice" name="book-choice" class="form-select">
                {% for book in books %}
                <option id="{{ book['book_id'] }}" value="{{ book['title'] }}" data-img-url="{{ book['image_url'] }}">
                    {{ book['title'] }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="container col-1">
            <select name="book-rating" class="form-select" required>
                {% for num in range(1,6) %}
                <option value="{{ num }}">{{ num }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-dark col-3" name="select-form" type="submit" value="Select">

    </form>
</div>
{% endif %}
<!--Select form ends here-->

<!-- User selections -->
<div class="container row">
    {% if current_list %}
    <!-- Selected book list -->
    <div class="container col-8">
        <table class="table table-striped">
            <thead>
            <th>Book Selected</th>
            <th>Rating given</th>
            <th>Delete?</th>
            </thead>
            <tbody>
            {% for book, rating in current_list.items() %}
            <tr>
                <td>{{ book }}</td>
                <td>{{ rating }}</td>
                <td>
                    <form method="post" action="{{ url_for('controller.delete') }}">
                        <button class="btn btn-danger" name="del-item" type="submit" value="{{ book }}">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table> <!-- End Selected book list -->

        <!--  Process and Reset buttons -->
        <div class="row justify-center mt-3">
            <!-- Process and run the recsys -->
            {% if length >= 5 %}
            <form method="post" class="offset-2 col-4 text-center">
                <input class="btn btn-success" name="process-form" type="submit" value="Recommend me books!">
            </form>
            {% endif %} <!-- End process button-->

            <!-- Reset all chosen values -->
            {% if length >= 5 %}
            <span class="col-4 text-center">
            {% else %}
                <span class="offset-3 col-6 text-center">
            {% endif %}
            <a class="btn btn-secondary  text-center" href="{{ url_for('controller.clear_selections') }}"
               value="Reset all values">Reset all values</a>
            </span>  <!-- End Reset all chosen values -->
        </div>

    </div>
    {% endif %}

    <!-- Book cover goes here -->
    {% if length < 5 %}
    <figure class="container col-4 text-center mt-3">
        <img class="book-cover"/>
        <figcaption>Cover art</figcaption>
    </figure>
    {% endif %}
</div>


<!-- JS to select book cover art based on option selected -->
<script>
    var e = document.getElementById("book-choice");
    function show(){
        var value = e.options[e.selectedIndex].id;
        var image_url = e.options[e.selectedIndex].getAttribute('data-img-url');
        document.getElementsByClassName("book-cover")[0].id = value;
        document.getElementsByClassName("book-cover")[0].src = image_url;
    }
    e.onchange=show;
    show();
</script>
{% endblock %}