{% extends 'base.html' %}

{% block header %}
<h1 class="text-center mt-3 mb-3">
    {% block title %}
    {% if selection_limit() %}
    Select 5 books and ratings to get started
    {% else %}
    Selection complete! Please review
    {% endif %}
    {% endblock %}
</h1>
{% endblock %}

{% block content %}

<!--Select form-->
{% if selection_limit() %}
<div class="container row mb-3">
    <form method="post" class="container row">
        {% include "select_form.html" %}
    </form>
</div>
{% endif %}

<!-- User selections -->
<div class="container row">
    {% if current_list %}
    <!-- Selected book list -->
    <div class="container col-lg-8">
        <table class="table table-striped">
            <thead>
            <th>Book Selected</th>
            <th>Rating given</th>
            <th>Delete?</th>
            </thead>
            <tbody>
            {% for book, rating in current_list.items() %}
            <tr>
                <td>{{ book }}</td>
                <td>{{ rating }}</td>
                <td>
                    <form method="post" action="{{ url_for('controller.delete') }}">
                        <button class="btn btn-danger" name="del-item" type="submit" value="{{ book }}">Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table> <!-- End Selected book list -->

        <!--  Process and Reset buttons -->
        <div class="row justify-center mt-3">
            <!-- Process and run the Recommender system -->
            {% if not selection_limit() %}
            <form method="post" class="offset-2 col-4 text-center">
                <input class="btn btn-success" name="process-form" type="submit" value="Recommend me books!">
            </form>
            {% endif %} <!-- End process button-->

            <!-- Reset all chosen values -->
            {% if not selection_limit() %}
            <span class="col-4 text-center">
            {% else %}
                <span class="offset-3 col-6 text-center">
            {% endif %}
            <a class="btn btn-secondary  text-center" href="{{ url_for('controller.clear_selections') }}"
               value="Reset all values">Reset all values</a>
            </span>  <!-- End Reset all chosen values -->
            </span>
        </div>
    </div>
    {% endif %}

    <!--Book cover-->
    {% include 'book_cover.html' %}
</div>

<!-- JS to select book cover art based on option selected -->
<script src="{{url_for('static', filename='select2.js')}}"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
