<!doctype html>
<title>Book Recommendation System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<nav>
  <h1>Book Recommendation System</h1>
  <ul>
      <li><a href="{{ url_for('recommendation.index') }}">Home</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>